*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:#f8f8f8;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:#111;
  position:sticky;
  top:0;
  z-index:1000;
}

.logo{
  color:white;
}

.nav-links{
  display:flex;
  gap:25px;
  list-style:none;
}

.nav-links a{
  text-decoration:none;
  color:white;
  display:flex;
  flex-direction:column;
  font-weight:600;
}

.nav-links a span{
  opacity:0;
  font-size:12px;
  color:#ffb703;
  transition:0.3s;
}

.nav-links a:hover span{
  opacity:1;
}

.register-btn{
  padding:10px 20px;
  border:none;
  border-radius:30px;
  background:#ffb703;
  font-weight:600;
  cursor:pointer;
}
.hero{
  width:100%;
  background:none;
}

.header-image{
  width:100%;
  display:block;
}
.menu-section{
  padding:80px 8%;
}

.menu-heading{
  text-align:center;
  margin-bottom:50px;
}

.menu-heading h1{
  font-size:48px;
}

.menu-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.card{
  background:white;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

.card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.card-body{
  padding:20px;
}

.card-body h3{
  margin-bottom:10px;
}

.card-body p{
  color:#666;
  margin-bottom:15px;
}

.price{
  color:#ffb703;
  font-size:20px;
  font-weight:700;
}

.buy-btn{
  margin-top:15px;
  width:100%;
  padding:12px;
  border:none;
  border-radius:12px;
  background:#111;
  color:white;
  cursor:pointer;
}
.dropdown{
  position:relative;
}

.submenu{
  position:absolute;
  top:120%;
  left:0;
  background:#111;
  list-style:none;
  min-width:200px;
  border-radius:14px;
  padding:12px 0;

  opacity:0;
  visibility:hidden;
  transform:translateY(-10px);

  transition:all .35s ease;
  box-shadow:0 12px 25px rgba(0,0,0,.25);
}

.dropdown:hover .submenu{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}

.submenu li{
  padding:0;
}

.submenu a{
  display:block;
  padding:14px 20px;
  color:white;
  text-decoration:none;
  transition:.25s;
}

.submenu a:hover{
  background:#ffb703;
  color:#111;
  padding-left:28px;
}
.footer{
  background:#111;
  color:white;
  margin-top:80px;
}

.footer-content{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:40px;
  padding:60px 8%;
}

.footer h2,
.footer h3{
  margin-bottom:15px;
}

.footer p{
  color:#bbb;
  line-height:1.7;
}

.footer-links a{
  display:block;
  color:#bbb;
  text-decoration:none;
  margin-bottom:10px;
  transition:.3s;
}

.footer-links a:hover{
  color:#ffb703;
  padding-left:8px;
}

.footer-bottom{
  text-align:center;
  padding:20px;
  border-top:1px solid rgba(255,255,255,.08);
  color:#999;
}
.footer{
  background:#111;
  color:white;
  margin-top:0;
  padding-top:60px;
  border-top:4px solid #ffb703;
}